@font-face {
    font-family: Montserrat;
    src: url(../Daniel/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monsterrat;
    src: url(../Daniel/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../Daniel/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
     font-family: Poppins;
     src: url(../Daniel/fonts/Poppins/Poppins-Bold.ttf);
}